@import "./bg.css";

body{
  color: green;
  /* background-image: ('./images/logo.png'); */
  display: flex;
}

#root{
  width: 750px;
  height: 750px;
  border: 1px solid red;
}

::placeholder{
  color: red;
}

/* #image-container{
  width: 400px;
  height: 103px;
  background-image: url('./images/logo.png');
  border: 1px solid #000;
} */